body {
    background-color: rgb(202, 202, 202);
    color:white;
   font-variant: small-caps;
    transition: all 1s ease-in-out;
   
}






#homebtn{
    height: 50px;
    background-color: rgb(64, 64, 65);
    width: 150px;
    font-variant: small-caps;
    color:white;
    border-color:rgb(64, 64, 65);
    border-radius: 14px;
   border:none;
}

#homebtn:hover{
    cursor: pointer;
    background-color: rgb(90, 90, 90);
}

#homeicon{
    height:50px;
    width:50px;
}

.port{
    height:450px;
    width:250px;
    display: block;
    position: absolute;
    align-items: center;
    left:810px;
    top: 20vh;
    border-radius: 20px;
    background-color: rgb(165, 162, 162);
    transition: all 1s ease-in-out;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}

#avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left:70px;
    top:10px;
    border: 1px solid white;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);
    transition: all 1s ease-in-out;
}

#name {
   
    position: absolute;
    top:105px;
    display: inline-block;
    left:75px;
    background-color: #535353;
    border-radius: 25px;
    padding: 10px;
    opacity: 0.5;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    transition: all 1s ease-in-out;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}

#gh{
    height: 50px;
    width: 50px;
    position: absolute;
    top:164px;
    left: 30px;
}

#github{
    left:73px;
    position: absolute;
    top:175px;
    color:black;
    opacity: 0.7;
   
    background-color: #868585;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: all 1s ease-in-out;
  font-variant: small-caps;
}

#github:hover{
    background-color: rgb(103, 103, 105);
}


#yo{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 205px;
    left:35px;
}

#youtube{
    left:75px;
    position: absolute;
    top:210px;
    color:black;
    opacity: 0.7;
    font-variant: small-caps;
    background-color: #868585;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: all 1s ease-in-out;
}

#ds{height: 35px;
    width: 35px;
    position: absolute;
    top: 244px;
    left:37px;}

#discord{
    left:75px;
    position: absolute;
    top:247px;
    color:black;
    opacity: 0.7;
    font-variant: small-caps;
    background-color: #868585;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: all 1s ease-in-out;
}

#youtube:hover{
    background-color: rgb(103, 103, 105);
}

#discord:hover{
    background-color: rgb(103, 103, 105);
}


#vanta{
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 100px;
    top: 0px;
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
}

#menutext{
    position: absolute;
    top:107px;
    display: inline-block;
    left:73px;
    background-color: #00000a;
    border-radius: 25px;
    padding: 10px;
    opacity: 0.5;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    width: 50%;
    text-align: center;
    top: 5px;
    left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#home{
    left:140px;
    position: absolute;
    top:100px;
    color:black;
    opacity: 0.7;
    font-variant: small-caps;
    background-color: #a8a8a8;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: background-color 0.5s ease-in-out;
}

#home:hover{
    background-color:  rgb(103, 103, 105);
}

#home-icon{
    height: 30px;
    width: 30px;
    position: absolute;
    top:100px;
    left: 100px;
}

#menu{
    height: 100px;
    width: 100px;
    background-color: white;
    padding: 0;
    padding-top: 0;
    margin-top: 0;
    margin: 0;

}

.menu{
    height:50px;
    width:420px;
    display: none;
    position: absolute;
    align-items: center;
    left:710px;
    top: 0;
    border-radius: 20px;
    background-color:rgb(165, 162, 162);
    transition: all 1s ease-in-out;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}


#mn
{
    display:inline;
    list-style: none;
    text-decoration: none;
    word-spacing: 10px;
    top: 10px;
    transition: all 1s ease-in-out;
}

a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: large;
    word-spacing: 10px;
    top: 10px;
    font-size: xx-large;
    color:black;
    opacity: 0.5;
    transition: color 0.5s ease-in-out;

}

.me{
    display: inline-block;
    top: 10px;
}

ul > li{
    padding-top: 10px;
    padding-left: 15px;
    transition: all 1s ease-in-out;

}

a:hover{
    color:rgb(103, 103, 105)
}
#lin{
    top: 10px;
}

hr{
    background-color: rgb(165, 162, 162);
    height: 3px;
    width: 100px;
    color:rgb(165, 162, 162);
    border-radius: 28px;
    border: none;
    opacity: 0.7;
    transition: all 1s ease-in-out;
    box-shadow:0 0px 5px 1px rgb(133, 131, 131);
}

#mode {
    border-radius: 14px;
    height: 50px;
    width: 50px;
    background-color: rgb(180, 180, 180);
    border: none;
    position: absolute;
    transition: all 1s ease-in-out;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);

}




#sun{
    height: 25px;
    width: 25px;
    transition: all 1s ease-in-out;
}

#sun:hover{
    transform: rotate(0.5turn);
}

.all{
    transition: all 1s ease-in;
    animation: render 1s 1;
}

@keyframes render{
    0%{
        opacity: 0;
    }
    1%{
        opacity: 0.01;
    }
    2%{
        opacity: 0.02;
    }
    3%{
        opacity: 0.03;
    }
    4%{
        opacity: 0.04;
    }
    5%{
       opacity: 0.05;
    }
    6%{
        opacity: 0.06;
    }
    7%{
        opacity: 0.07;
    }
    8%{
        opacity: 0.08;
    }
    9%{
        opacity: 0.09;
    }
    10%{
        opacity: 0.10;
    }
    11%{
        opacity: 0.11;
    }
    12%{
        opacity: 0.12;
    }
    13%{
        opacity: 0.13;
    }
    14%{
        opacity: 0.14;
    }
    15%{
        opacity: 0.15;
    }
    20%{
        opacity: 0.20;
    }
    21%{
        opacity: 0.21;
    }
    22%{
        opacity: 0.22;
    }
    23%{
        opacity: 0.23;
    }
    24%{
        opacity: 0.24;
    }
    25%{
        opacity: 0.25;
    }
    26%{
        opacity: 0.26;
    }
    27%{
        opacity: 0.27;
    }
    28%{
        opacity: 0.28;
    }
    29%{
        opacity: 0.29;
    }
    30%{
        opacity: 0.30;
    }
    31%{
        opacity: 0.31;
    }
    32%{
        opacity: 0.32;
    }
    33%{
        opacity: 0.33;
    }
    34%{
        opacity: 0.34;
    }
    35%{
        opacity: 0.35;
    }
    36%{
        opacity:0.36;
    }
    37%{
        opacity:0.37;
    }
    38%{
        opacity:0.38;
    }
    39%{
        opacity:0.39;
    }
    40%{
        opacity: 0.40;
    }
    41%{
        opacity: 0.41;
    }
    42%{
        opacity: 0.42;
    }
    43%{
        opacity: 0.43;
    }
    44%{
        opacity: 0.44;
    }
    45%{
        opacity: 0.45;
    }
    46%{
        opacity: 0.46;
    }
    47%{
        opacity: 0.47;
    }
    48%{
        opacity: 0.48;
    }
    49%{
        opacity: 0.49;
    }
    50%{
        opacity: 0.5;
    }
    51%{
        opacity: 0.51;
    }
    52%{
        opacity: 0.52;
    }
    53%{
        opacity: 0.53;
    }
    54%{
        opacity: 0.54;
    }
    55%{
        opacity: 0.55;
    }
    56%{
        opacity: 0.56;
    }
    57%{
        opacity: 0.57;
    }
    58%{
        opacity: 0.58;
    }
    59%{
        opacity: 0.59;
    }
    60%{
        opacity: 0.60;
    }
    61%{
        opacity: 0.61;
    }
    62%{
        opacity: 0.62;
    }
    63%{
        opacity: 0.63;
    }
    64%{
        opacity: 0.64;
    }
    65%{
        opacity: 0.65;
    }
    66%{
        opacity: 0.66;
    }
    67%{
        opacity: 0.67;
    }
    68%{
        opacity: 0.68;
    }
    69%{
        opacity: 0.69;
    }
    70%{
        opacity: 0.70;
    }
    71%{
        opacity: 0.71;
    }
    72%{
        opacity: 0.72;
    }
    73%{
        opacity: 0.73;
    }
    74%{
        opacity: 0.74;
    }
    75%{
        opacity: 0.75;
    }
    76%{
        opacity: 0.76;
    }
    77%{
        opacity: 0.77;
    }
    78%{
        opacity: 0.78;
    }
    79%{
        opacity: 0.79;
    }
    80%{
        opacity: 0.80;
    }
    81%{
        opacity: 0.81;
    }
    82%{
        opacity: 0.82;
    }
    83%{
        opacity: 0.83;
    }
    84%{
        opacity: 0.84;
    }
    85%{
        opacity: 0.85;
    }
    86%{
        opacity: 0.86;
    }
    87%{
        opacity: 0.87;
    }
    88%{
        opacity: 0.88;
    }
    89%{
        opacity: 0.89;
    }
    90%{
        opacity: 0.90;
    }
    91%{
        opacity: 0.91;
    }
    92%{
        opacity: 0.92;
    }
    93%{
        opacity: 0.93;
    }
    94%{
        opacity: 0.94;
    }
    95%{
        opacity: 0.95;
    }
    96%{
        opacity: 0.96;
    }
    97%{
        opacity: 0.97;
    }
    98%{
        opacity: 0.98;
    }
    99%{
        opacity: 0.99;
    }
    100%{
        opacity: 1;
    }
}

#log {
    border-radius: 14px;
    height: 50px;
    width: 50px;
    left: 80px;
    background-color: rgb(180, 180, 180);
    border: none;
    position: absolute;
    transition: all 1s ease-in-out;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}

#bell{
    height: 25px;
    width: 25px;
    transition: all 0.5s ease;
}

#bell:hover{
    transform: rotate(0.5turn);
}

#aboutme{
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: rgb(133, 131, 131);
    border: none;
    border-radius: 20px  ;
    z-index: 3;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 35%;
    top:20%;
    transition: all 1s ease-in-out;
}
h1{
    transition: all 1s ease-in-out;
}

h1:hover{
    color:black;
    opacity: 0.5;
}

p{
    transition: all 1s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#menu-icon{
    height: 25px;
    width: 25px;
    transition: all 0.5s ease;
}

#menu-icon:hover{
    transform: rotate(0.5turn);
}


#menu-burger{
    z-index: 55;
    height: 15%;
    
    width:150px;
    display:none;
    position: absolute;
    align-items: center;
    right: 10px;
    top: 70px;
    border-radius: 20px;
    background-color: rgb(165, 162, 162);
    transition: all 1s ease-in-out;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131); 
    animation: render 1s 1;
    
    
}
#menu-burger h1{
   
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 2px;
    
}

#menu-burger h1:hover{
    
    color:rgb(43, 42, 42);
    opacity: 0.5;

}

#homepagebtn{
   
    position: absolute;
    top: 10px;
    color:black;
    opacity: 0.7;
    left: 30px;
    background-color: #a8a8a8;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: all 1s ease-in-out;
  font-variant: small-caps;
  box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}

#homepagebtn:hover{
    background-color: rgb(103, 103, 105);
}

#linksbtn{
   
    position: absolute;
    top: 90px;
    color:black;
    opacity: 0.7;
    left: 30px;
    background-color: #a8a8a8;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: all 1s ease-in-out;
  font-variant: small-caps;
  box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}

#linksbtn:hover{
    background-color: rgb(103, 103, 105);
}


#worksbtn{
   
    position: absolute;
    top: 50px;
    color:black;
    opacity: 0.7;
    left: 30px;
    background-color: #a8a8a8;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    height:30px;
    width: 100px;
  filter: blur(0,5px);
  transition: all 1s ease-in-out;
  font-variant: small-caps;
  box-shadow:0 0px 5px 2px rgb(133, 131, 131);
}

#works:hover{
    background-color: rgb(103, 103, 105);
}

#burger {
    top: 10px;
    right: 15px;
    border-radius: 14px;
    height: 50px;
    width: 50px;
    background-color: rgb(180, 180, 180);
    border: none;
    position: absolute;
    transition: all 1s ease-in-out;
    cursor: pointer;
    padding-top: 5px;
    padding-right: 5px;
    box-shadow:0 0px 5px 2px rgb(133, 131, 131);
    z-index: 56;
}